<app-plain-header></app-plain-header>
<div fxLayoutAlign="center center" style="background-image: url('../../../assets/images/bookstore-wallpaper1.jpg');" fxFill>
  <div class="container" fxLayoutAlign="space-evenly center">
    <mat-card fxLayout="column" fxFlex.lt-md="80%" fxFlex.gt-sm="65%" ngClass.gt-lg="lg">

      <mat-toolbar ngClass.gt-lg="lg" style="color: white;">Forgot Password</mat-toolbar>
      <form class="forgotpassword-form" fxLayout="column" [formGroup]="forgetPasswordDetail">
        <mat-form-field appearance="outline">
          <mat-label>EMAIL ID</mat-label>
          <input matInput type="email" placeholder="EMAIL ID" autocomplete="off" class="forgot-email"
            formControlName="emailId" />
          <mat-icon matSuffix>email</mat-icon>
          <mat-error fxFlex
            *ngIf="!forgetPasswordDetail.controls['emailId'].valid && forgetPasswordDetail.controls['emailId'].touched">
            Invalid EmailId!
          </mat-error>
        </mat-form-field>
        <mat-card-actions fxLayoutAlign="center">
          <button class="end-btn" mat-button mat-dialog-close (click)="forgetPassword()">SUBMIT</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>