<app-plain-header></app-plain-header>
<div
  fxLayoutAlign="center center"
  style="
    background-image: url('../../../assets/images/bookstore-wallpaper1.jpg');
  "
  fxFill
>
  <div class="container" fxLayoutAlign="space-evenly center">
    <mat-card
      fxLayout="column"
      fxFlex.lt-md="80%"
      fxFlex.gt-sm="65%"
      ngClass.gt-lg="lg"
    >

      <mat-toolbar ngClass.gt-lg="lg" style="color: white;">Forgot Password</mat-toolbar>
      <form class="forgotpassword-form" fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>EmailId</mat-label>
          <input
            matInput
            type="email"
            placeholder="email-id"
            autocomplete="off"
            class="forgot-email"
          />
          <mat-icon matSuffix>email</mat-icon>
          <mat-error> Please enter a valid email address </mat-error>
          <mat-error> Email is <strong>required</strong> </mat-error>
        </mat-form-field>
        <mat-card-actions fxLayoutAlign="center">
          <button class="end-btn" mat-button mat-dialog-close [routerLink]="['/resetpassword']">NEXT</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
