@import "../../../styles.scss";

.container {
  width: 100%;
  height: 100%;
}
mat-card {
  overflow: hidden;
  width: 35%;
  margin-top: 7%;
  margin-bottom: 18%;
  margin-left: 30.5%;
  margin-right: 7%;
}
.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 1), 0 1px 1px 0 rgba(0, 0, 0, 1),
    0 1px 3px 0 rgb(240, 238, 238);
}
mat-toolbar {
  background-color: rgb(179, 59, 59);

  justify-content: center;
  margin-bottom: 5%;
}

mat-card-actions {
  margin-bottom: 0px;
}

mat-card.lg {
  // background-color: rgb(112, 110, 110);
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  height: 50%;
  font-size: larger;
}
mat-toolbar.lg {
  height: 25%;
  margin-bottom: 0px;
}
.mat-dialog-content {
  padding: 0;
  margin: 0;
}

input[type="button"] {
  padding: 10px 30px;
  margin: 5px 40px;
  border-radius: 5px;
}
input[type="button"]:hover {
  background-color: $toolbar-cart-color;
  color: white;
}
a:hover {
  color: brown;
  text-decoration: none;
}
.end-btn {
  border-radius: 10px;
  margin-left: 37%;
  margin-right: 5%;
  padding: 15px 40px;
  background-color: rgb(184, 60, 60);
  color: white;
}
.end-btn:hover {
  background-color: brown;
  border-radius: 10px;
  color: white;
}
a:link,
a:visited {
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.forgot-email {
  width: 100%;
}
.mat-form-field {
  width: 100%;
  padding-top: 5%;
}
