<app-plain-header></app-plain-header>
<div fxLayout="column" fxLayoutAlign="space-around center" >
  
  <mat-card class="my-card">
    <mat-toolbar>
      <span class="title-center">SIGN IN FORM</span>
    </mat-toolbar>
  
    <form [formGroup]="loginDetail">

      <mat-form-field appearance="outline">
        <mat-label>Email/Name</mat-label>
        <input type="text" class="textfield" formControlName="emailId" placeholder="EMAIL ID" rows="3" maxlength="300"
          matInput autocomplete="off" />
        <mat-icon matSuffix>account_circle</mat-icon>
        <mat-error fxFlex *ngIf="!loginDetail.controls['emailId'].valid && loginDetail.controls['emailId'].touched">
          Invalid EmailId!
        </mat-error>
        </mat-form-field>
        <br />

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="password" rows="3" maxlength="300" matInput
            style="background: none" />
          <mat-error fxFlex *ngIf="!loginDetail.controls['password'].valid && loginDetail.controls['password'].touched">
            Invalid password!
          </mat-error>
        </mat-form-field>

        <div class="right">
          <a href="forgot">forgot password?</a>
        </div>

        <div>
         
          <button class="signup submit" mat-button mat-dialog-close (click)="login()">SIGN IN</button>
        </div>
        <div class="linker">
          <P>New a member? <a [routerLink]="['/registration']">SIGN UP</a></P>
        </div>
    </form>
  </mat-card>
</div>
<app-footer>
  </app-footer>