<app-header></app-header>
<div style="margin: 10px 0">
  <label class="subhead">Books</label>
  <label>({{ bookListCount }} Items)</label>
  <mat-select class="dropdown" appearance="outline"  placeholder="Sort by relevance"
   style="font-size: 16px;text-align: center; padding-top: 10px;" (selectionChange)="getListOfBookByRelevance($event)">
    <mat-option *ngFor="let relevance of sortByRelevance" [value]="relevance">{{relevance}}</mat-option>
  </mat-select>
</div>
<div class="grid-container">
    <mat-grid-list cols="4" rowHeight=".7:1" [gutterSize]="'30px'" *ngFor="let book of bookList"> 
      <!--tile 1-->
      <mat-grid-tile>
        <mat-card class="card">
          <mat-card-header> </mat-card-header>
          <img
            class="card-img"
            mat-card-image
            src="{{ book.imageURL }}"
            alt="Book"
          />
          <mat-card-content>
            <p>
              <b>{{ book.bookName }}</b>
              <br />
              {{ book.authorName }}
            </p>
            <b>Rs.{{ book.price }}</b>
          </mat-card-content>
          <mat-card-actions>
            <div>
              <input type="button" value="ADD TO BAG" class="b-color" />
              <input type="button" value="WISHLIST" class="b-default" />
            </div>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    </div>
<app-pagination></app-pagination>
<app-footer></app-footer>
