.accordian {
  width: 80%;
  margin-left: 10%;
  margin-top: 1%;
}

.form {
  width: 80%;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 30%;
}
.My-cart {
  margin-left: 4%;
}
.book {
  margin-left: 4%;
  margin-top: 4%;
  width: 40%;
  height: 120px;
  display: flex;
}
img {
  width: 100%;
  height: 100%;
}
.book-image {
  width: 100px;
  height: 120px;
  order: 1;
  flex-basis: 1;
}
.book-details {
  margin-left: 14%;
  font-size: 14px;
  flex-basis: 1;
  order: 2;
}
span.author-name {
  text-align: left;
  font: Regular 10px/12px Lato;
  letter-spacing: 0px;
  color: #9d9d9d;
  opacity: 1;
  font-size: 10px;
}
.button-minus,
.button-plus {
  outline: none;
  background-color: #fafafa;
  border: 1px solid rgb(161, 159, 159);
  opacity: 1;
  height: 18px;
  width: 18px;
  box-shadow: initial;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  &::ng-deep .mat-button-wrapper {
    line-height: 14px;
    padding: 0;

    .mat-icon {
      font-size: 10px;
    }
  }
}
mat-mini-fab {
  height: 24px;
}
.button-remove {
  outline: none;
  background-color: #fc3b3b;
  border: 1px solid rgb(161, 159, 159);
  opacity: 1;
  height: 18px;
  width: 18px;
  box-shadow: initial;
  border-radius: 20px;
  margin-top: -25%;
}
input.quantity-field {
  width: 20%;
  font-size: 120%;
  height: 4vh;
  text-align: center;
  outline: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  opacity: 1;
  margin-top: 110px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-group {
  margin-left: 19%;
  margin-top: -12.5%;
  width: 40%;
}
.button-placeorder {
  height: 100%;
  width: 23%;
  font-size: medium;
  outline: none;
  background-color: #3371b5;
  padding: 10px 40px;
  border-radius: 5px;
  border: none;
  margin-top: 50px;
  margin-left: 75%;
}

.row3 {
  float: right;
  margin-top: -74px;
}
.row1 {
  float: right;
  margin-top: 20px;
  // margin-right: 120px;
}

.row2 {
  float: right;
  margin-top: -50px;
  //margin-right: 120px;
}

.mat-form-field {
  width: 300px;
  height: 10px;
}

.child1 {
  width: 10%;
  height: 110px;
}
.child2 {
  margin-top: 3%;
  padding-left: 2%;
}
#check {
  font-size: small;
  //height: 20px;
  color: white;
}
.book-img {
  background-color: #a03037;
  width: 90px;
  height: 90px;
}
.shop-now {
  background-color: #a03037;
  color: white;
}
.matInput {
  background: none;
}
.total-price {
  margin-left: 4%;
  margin-top: 4%;
}

@media only screen and (max-width: 720px) {
  .form {
    width: 240px;
  }
}

@media only screen and (max-width: 720px) {
  .mat-form-field {
    width: 100px;
    height: 4px;
  }
}

@media only screen and (max-width: 720px) {
  .row3 {
    float: right;
    margin-top: -74px;
  }
}
@media only screen and (max-width: 720px) {
  .mat-radio-group {
    font-size: 10px;
  }
}
