<app-plain-header></app-plain-header>
<div
  fxLayoutAlign="center center"
  class="container"
  style="
    background-image: url('../../../assets/images/bookstore-wallpaper1.jpg');
  "
  fxFill
>
  <mat-card
    class="mat-card-main"
    fxLayout="column"
    fxFlex.xs="100%"
    fxFlex.gt-xs="80%"
    fxFlex.gt-md="40%"
    fxLayoutGap="10px"
  >
    <mat-toolbar> <span class="title-center">RESET PASSWORD</span></mat-toolbar>
    <form fxLayout="column">
      <div>
        <mat-form-field appearance="outline"  style="width: 100%;margin-top: 20px;">
          <mat-label>password</mat-label>
          <input
            matInput
            type="password"
            placeholder="password"
            formControlName="password"
          />
          <mat-error>password is required</mat-error>
          <mat-error
            >password must have 1 lowercase,1 uppercase,1 character and 8
            length</mat-error
          >
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width: 100%;">

          <mat-label>confirm password</mat-label>
          <input
            matInput
            placeholder="confirm-password"
            formControlName="confirmPassword"
          />
          <mat-error>password is required</mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button fxFlexAlign="center" [routerLink]="['/login']">SUBMIT
      </button>
    </form>
  </mat-card>
</div>
<app-footer></app-footer>
