<app-plain-header></app-plain-header>
<div fxLayoutAlign="center center" class="container" style="
    background-image: url('../../../assets/images/bookstore-wallpaper1.jpg');
  " fxFill>
  <mat-card class="mat-card-main" fxLayout="column" fxFlex.xs="100%" fxFlex.gt-xs="80%" fxFlex.gt-md="40%"
    fxLayoutGap="10px">
    <mat-toolbar> <span class="title-center">RESET PASSWORD</span></mat-toolbar>
    <form fxLayout="column" [formGroup]="resetPasswordDetail">
      <div>
        <mat-form-field appearance="outline"  style="width: 100%;margin-top: 20px;">
          <mat-label>NEW PASSWORD</mat-label>
          <input matInput type="password" placeholder="NEW PASSWORD" formControlName="newPassword" />
          <mat-error fxFlex
          *ngIf="!resetPasswordDetail.controls['newPassword'].valid && resetPasswordDetail.controls['newPassword'].touched">
          Invalid Password : Password length should be min 8  with one capital,small special symbol and number! 
        </mat-error>
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" style="width: 100%;">

          <mat-label>CONFIRM PASSWORD</mat-label>
          <input matInput placeholder="CONFIRM PASSWORD" formControlName="confirmPassword" />
          <mat-error fxFlex
          *ngIf="!resetPasswordDetail.controls['newPassword'].valid && resetPasswordDetail.controls['newPassword'].touched">
          Invalid Password : Should be Same as newPassword! 
        </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button fxFlexAlign="center" (click)="resetPassword()">SUBMIT
      </button>
    </form>
  </mat-card>
</div>
<app-footer></app-footer>